/* Reset */
/* https://piccalil.li/blog/a-modern-css-reset/ */
/* box - sizing */
*, 
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400 ;
}
/*set up the body*/
body {
    font-family: var(--ff-sans-normal);
    font-family: var(--fs-400);
    line-height: 1.5;
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr;
    overflow-x: hidden;
}

/*make images easier to work with*/
img,
picture {
    max-width: 100%;
    display: block;
}

/* make forms easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before 
    *::after{
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* remove decoration */
li, 
a {
    text-decoration: none;
    list-style-type: none;
}
