
/* Components */
.div-parent {
    height: 400px;
    background-color: blue;
}

.item {
    height: 50px;
    background-color: brown;
}

.component-example {
    background-color: hsl(var(--clr-light) / .2)
}

.numbered-title {
    font-family: var(--ff-sans-cond);
    font-size: var(--fs-500);
}

.numbered-title > span {
    margin-right: .5rem;
    font-weight: 700;
    color: hsl( var(--clr-white) /.25 );
 }

.large-button {
    font-size: 2rem;
    border-radius: 50%;
    padding: 0 2rem;
    display: inline-grid;
    aspect-ratio: 1;
    z-index: 1;
    place-items: center;
    position: relative;
}

.large-button::before {
    content: '';
    position: absolute;
    z-index: -1;
    opacity: 0;
    background-color: hsl( var(--clr-white) /.35 );
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: pulse 2000ms ease-in-out infinite both;
}

@keyframes pulse {
    0%{
        opacity: 0;
        transform: none;
    }

    75%{
        opacity: 1;
        transform: scale(1.5);
    }
}

.large-button:hover::before {
    animation-play-state: paused;
    animation-duration: 1000ms;
}

.logo{
    margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
}


.primary-navigation {
    --gap: clamp(2rem, 5vw, 4rem);
    --underline-gap: 2rem;
    margin:0;
    padding: 0;
    /* From https://css.glass */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background: hsl(var(--clr-dark)  / .99);

}

@supports(backdrop-filter: blur(15px)){
    .primary-navigation {
         background: hsl(var(--clr-light)  / .1);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
    }
}

.primary-navigation a > span {
    margin-right: .5rem;
    font-weight: 700;
    color: hsl( var(--clr-white) /.25 );
}

header {
    justify-content : space-between;
    align-items: center;
}


.underline-indicators > * {
    padding: var(--indicator-padding, 1em) 0;
    border-bottom: .2rem solid hsl(var(--clr-white) / 0 );
}

.underline-indicators > [aria-selected="true"],
.underline-indicators > .active
 {
    color: hsl(var(--clr-white)  / 1);
    border-bottom: .2rem solid hsl(var(--clr-white)  / 1);
}

.underline-indicators > *:focus,
.underline-indicators > *:hover {
    border-bottom: .2rem solid hsl(var(--clr-white)  / .5);
}
.tab-indicators {
    --gap: 1rem;
}

.tab-indicators > * {
    border: none ;
    cursor: pointer;
    padding: 1em;
}

.dot-indicators > * {
    border: none;
    border-radius: 50%;
    aspect-ratio: 1;
    padding: .5em;
    background-color: hsl(var(--clr-white)  / .5);
}

.dot-indicators > *:focus,
.dot-indicators > *:hover {
    background-color: hsl( var(--clr-white) /.25 );
}

.dot-indicators > [aria-selected="true"]{
    background-color: hsl(var(--clr-white)  / 1);
}

.mobile-nav-toggle {
    display: none;
}
/*home*/
.home {
    background-size: cover;
    background-position: center center;
    background-image: url(../img/home/background-home-mobile.jpg);
} 

/*destiantion layout*/

.grid-container--destination {
    grid-template-areas:
        'title'
        'image'
        'tabs'
        'contents'
}

.numbered-title {
    grid-area: title;
}

.grid-container--destination > img {
    grid-area: image;
    max-width: 60%;
}

.grid-container--destination > .tab-indicators {
    grid-area: tabs;
}

.grid-container--destination > .destination-content {
    grid-area: contents;
}

.destination-meta {
    flex-direction: column;
    border-top: 1px solid hsl( var(--clr-white) /.1);
    padding-top: 2.5rem;
    margin-top: 2.5rem;
}

/* crew layout */
.grid-container--crew {
    grid-template-areas: 
        'title'
        'image'
        'contents'
        'dots'
        ;
}
.numbered-title{
    grid-area: title;
}
.grid-container--crew > img {
    grid-area: image;
    max-width: 60%;
}
.grid-container--crew > .crew-contents {
    grid-area: contents;
}


.grid-container--crew > .dot-indicators {
    grid-area: dots;
}

@media ( max-width: 35rem){
    .primary-navigation {
        --underline-gap: .5rem;
        flex-direction: column;
        position: fixed;
        inset: 0 0 0 20%;
        margin:0;
        padding: min(20rem, 10vh) 2rem;
        z-index: 1000;
        transform: translateX(100%);
        transition: transform 500ms ease-in-out;
    }
    .primary-navigation.underline-indicators > * {
        padding: var(--indicator-padding, 1em) 0;
        border-bottom: 0;
    }
    .primary-navigation[data-visible="true"]{
        transform: translateX(0);
    }
    .mobile-nav-toggle{
        display: block;
        position: fixed;
        z-index: 2000;
        top: 2rem;
        right: 1rem;
        background: transparent;
        background-image: url(../img/shared/icon-hamburger.svg);
        background-repeat: no-repeat;
        width: 1.5rem;
        aspect-ratio: 1;
        border: 0;
    }
    .mobile-nav-toggle[aria-expanded="true"]{
        background-image: url(../img/shared/icon-close.svg);
    }
 
}

@media (min-width: 35em){
    .home{
        background-image: url(../img/home/background-home-tablet.jpg);
    }

    .primary-navigation{
        padding-inline: clamp(2rem, 5vw, 4rem);
    }

    .grid-container--destination > .numbered-title {
        justify-self: start;
    }

    .destination-meta {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .grid-container--crew  {
        grid-template-areas: 
            'title'
            'contents'
            'dots'
            'image'
            ;
    }


}

@media (min-width: 45em){
    .home{
        background-image: url(../img/home/background-home-desktop.jpg);
    }

    .home > .grid-container {
        align-items:end;
        padding-bottom: max(5rem, 20vh);
    }

    header::before {
        content: '';
        display: block;
        position: relative;
        height: 1px;
        width: 100%;
        margin-right: -2.5rem;
        background: hsl( var(--clr-white) /.25 ) ;
        z-index: 10;
        order: 1;
    }

    .primary-navigation{
        margin-block: 2rem;
    }

    nav{
        order: 2;
    }

    .grid-container--destination {
        justify-items: start;
        align-items: start;
        grid-template-areas: 
            '. title title .'
            '. image tabs .'
            '. image contents .'
        ;
    }

    .grid-container--destination > img ,
    .grid-container--crew > img {
        grid-area: image;
        max-width: 80%;
    }

    .destination-meta {
        --gap: 3rem;
        justify-content: start;
    }

    .grid-container--crew  {
        padding-bottom: 0;
        grid-template-areas: 
            '. title image .'
            '. contents image .'
            '. dots image.'
            ;
    }

    .grid-container--crew > .dot-indicators {
        justify-self: start;
    }

}


@media (min-width: 35em) and (max-width:44.5em){
    .primary-navigation {
        padding-inline: 2rem;
    }
    .primary-navigation a > span{
        display: none;
    }
}

